<!--@subject Willkommen bei {{var store.getFrontendName()}}, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email"}
@-->
<!--@styles
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table align="center" class="container"><tbody><tr><td>
    <table class="row"><tbody><tr>
        <th class="small-12 large-12 columns first last"><table><tr><th>
            <h1>Herzlich willkommen bei {{var store.getFrontendName()}}.</h1>
            <p>Um sich bei Ihrem nächsten Besuch in unserem Shop anzumelden, klicken Sie einfach auf</p>
            <table class="row"><tbody><tr>
                <th class="small-12 large-4 columns first" valign="middle"><table><tr><th>
                    <table class="button"><tr><td><table><tr><td><a href="{{store url=" customer/account/"}}">Anmelden</a></td></tr></table></td></tr></table>
                </th></tr></table></th>
                <th class="small-12 large-4 columns" valign="middle"><table><tr><th>
                    oder
                </th></tr></table></th>
                <th class="small-12 large-4 columns last" valign="middle"><table><tr><th>
                   <table class="button"><tr><td><table><tr><td><a href="{{store url=" customer/account/"}}">Mein Benutzerkonto</a></td></tr></table></td></tr></table>
                </th></tr></table></th>
            </tr></tbody></table>
            <p>im oberen Bereich der Webseite und geben Sie Ihre E-Mail-Adresse sowie Ihr Passwort ein.</p>
            <p>
                Mit folgenden Zugangsdaten können Sie sich anmelden:<br>
                <strong>E-Mail-Adresse:</strong>
                {{var customer.email}}
            </p>
            <p>Nach erfolgreichem Login auf unserer Seite haben Sie die folgenden Möglichkeiten:</p>
            <ul>
                <li>Schnellerer Bezahlvorgang beim nächsten Einkauf</li>
                <li>Den Status laufender Bestellungen einsehen</li>
                <li>Bestellverlauf einsehen</li>
                <li>Ihre Kundendaten verwalten</li>
                <li>Ihr Passwort ändern</li>
                <li>Verschiedene Adressen für den Versand sowie Rechnungsadressen speichern</li>
            </ul>
        </th></tr></table></th>
    </tr></tbody></table>
    {{template config_path="design/email/support"}}
</td></tr></tbody></table>
{{template config_path="design/email/footer"}}