<!--@subject {{var store.getFrontendName()}}: Bitte bestätigen Sie Ihre Newsletter-Anmeldung! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"var subscriber.getConfirmationLink()":"Subscriber Confirmation Url"}
@-->
<!--@styles
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table align="center" class="container"><tbody><tr><td>
    <table class="row"><tbody><tr>
        <th class="small-12 large-12 columns first last"><table><tr><th>
                        <h1>Vielen Dank für Ihre Newsletter-Anmeldung.</h1>
                        <p>Bitte klicken Sie auf den unterstehenden Link, um Ihre Anmeldung zu bestätigen:</p>
                        <table class="button"><tr><td><table><tr><td><a href="{{var subscriber.getConfirmationLink()}}">Newsletter-Anmeldung bestätigen</a></td></tr></table></td></tr></table>
        </th>
<th class="expander"></th></tr></table></th>
    </tr></tbody></table>
    {{template config_path="design/email/support"}}
</td></tr></tbody></table>
{{template config_path="design/email/footer"}}