<!--@subject {{var store.getFrontendName()}}: Neue Bestellung Nr. {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table align="center" class="container"><tbody><tr><td>
    <table class="row"><tbody><tr>
        <th class="small-12 large-12 columns first last"><table><tr><th>
            <h1>Hallo
                {{htmlescape var=$order.getCustomerName()}}
                ,
            </h1>
            <p>vielen Dank für Ihre Bestellung bei
                {{var store.getFrontendName()}}
                .
            </p>
            <p>Sobald Ihre Sendung verschickt wurde, erhalten Sie per E-Mail weitere Informationen zur
                Sendungsverfolgung. Sie können den aktuellen Status Ihrer Bestellung jederzeit in <a href="{{store url="customer/account/"}}">Ihrem Benutzerkonto</a> einsehen.
                Nachfolgend finden Sie Ihre Bestellbestätigung.</p>
            <p></p>
            <h3>Ihre Bestellung Nr. <strong>{{var order.increment_id}}</strong></h3>
            <p>vom
                {{var order.getCreatedAtFormated('long')}}
            </p>
            {{if order.getEmailCustomerNote()}}
            <p>
                {{var order.getEmailCustomerNote()}}
            </p>
            {{/if}}
            {{layout handle="sales_email_order_items" order=$order}}
            <table class="row"><tbody><tr>
                <th class="small-6 large-6 columns first"><table><tr><th>
                    <h6>Rechnungsadresse:</h6>
                    <p>
                        {{var order.getBillingAddress().format('html')}}
                    </p>
                </th></tr></table></th>
                {{depend order.getIsNotVirtual()}}
                <th class="small-6 large-6 columns last"><table><tr><th>
                    <h6>Lieferadresse:</h6>
                    <p>
                        {{var order.getShippingAddress().format('html')}}
                    </p>
                </th></tr></table></th>
                {{/depend}}
            </tr></tbody></table>
            <table class="row"><tbody><tr>
                {{depend order.getIsNotVirtual()}}
                <th class="small-6 large-6 columns first"><table><tr><th>
                    <h6>Versandart:</h6>
                    <p>
                        {{var order.shipping_description}}
                    </p>
                </th></tr></table></th>
                {{/depend}}
                <th class="small-6 large-6 columns last"><table><tr><th>
                    <h6>Zahlungsart:</h6>
                    <p>
                        {{var payment_html}}
                    </p>
                </th></tr></table></th>
            </tr></tbody></table>
        </th></tr></table></th>
    </tr></tbody></table>
    {{template config_path="design/email/support"}}
</td></tr></tbody></table>
{{template config_path="design/email/footer"}}
