<!--@subject Email - Support @-->
<row>
    <columns>
        <p>
            Falls Sie Fragen oder Anregungen haben, kontaktieren Sie uns bitte wahlweise per E-Mail <raw><a href="mailto:{{var store_email}}">{{var store_email}}</a>{{depend store_phone}} oder auch per Telefon unter der Rufnummer <a href="tel:{{var store_phone}}">{{var store_phone}}</a>{{/depend}}</raw>.
        </p>
    </columns>
</row>
<wrapper class="secondary">
    <spacer size="16"></spacer>
    <row>
        <columns large="5">
            <button class="facebook expand" href="https://facebook.com/gastrodax/">Facebook</button>
            <button class="google expand" href="https://plus.google.com/+gastrodax">Google+</button>
            <button class="youtube expand" href="https://youtube.com/channel/UCTr6z7_W4adeggGR1Sa717g">YouTube</button>
            <button class="twitter expand" href="https://twitter.com/gastrodax">Twitter</button>
        </columns>
        <columns large="7">
            <h5>Herausgeber</h5>
            <p>
                Gastrodax.de</br>
                New Gastroline GmbH</br>
                Barthestraße 115</br>
                18356 Barth</br>
                Deutschland</br>
                </br>
                <small style="color:inherit;">Geschäftsführer: Andreas Bramer</br>
                Handelsregister: HRB2806, Amtsgericht Stralsund</br>
                USt-IdNr. i.S.d. § 27a UStG: DE137472214</br>
                </br>
                Telefon: +49 (0)38 231 – 77 23-0</br>
                Telefax: +49 (0)38 231 – 32 61</br>
                </br>
                E-Mail: <a href="mailto:shop@gastrodax.de">shop@gastrodax.de</a></br>
                </br>
                Online-Shop: <a href="https://www.gastrodax.de">https://www.gastrodax.de</a></br>
                Website: <a href="http://www.newgastroline.de">http://www.newgastroline.de</a></small></br>
            </p>
        </columns>
    </row>
</wrapper>