<!--@subject Email - Support @-->
<table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last"><table><tr><th>
        <p>
            Falls Sie Fragen oder Anregungen haben, kontaktieren Sie uns bitte wahlweise per E-Mail <a href="mailto:{{var store_email}}">{{var store_email}}</a>{{depend store_phone}} oder auch per Telefon unter der Rufnummer <a href="tel:{{var store_phone}}">{{var store_phone}}</a>{{/depend}}.
        </p>
    </th>
<th class="expander"></th></tr></table></th>
</tr></tbody></table>
<table class="wrapper secondary" align="center"><tr><td class="wrapper-inner">
    <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
    <table class="row"><tbody><tr>
        <th class="small-12 large-5 columns first"><table><tr><th>
            <table class="button facebook expand"><tr><td><table><tr><td><center data-parsed=""><a href="https://facebook.com/gastrodax/" align="center" class="float-center">Facebook</a></center></td></tr></table></td>
<td class="expander"></td></tr></table>
            <table class="button youtube expand"><tr><td><table><tr><td><center data-parsed=""><a href="https://youtube.com/channel/UCTr6z7_W4adeggGR1Sa717g" align="center" class="float-center">YouTube</a></center></td></tr></table></td>
<td class="expander"></td></tr></table>
            <table class="button twitter expand"><tr><td><table><tr><td><center data-parsed=""><a href="https://twitter.com/gastrodax" align="center" class="float-center">Twitter</a></center></td></tr></table></td>
<td class="expander"></td></tr></table>
        </th></tr></table></th>
        <th class="small-12 large-7 columns last"><table><tr><th>
            <h5>Herausgeber</h5>
            <p>
                Gastrodax.de<br>
                New Gastroline GmbH<br>
                Barthestraße 115<br>
                18356 Barth<br>
                Deutschland<br>
                <br>
                <small style="color:inherit;">Geschäftsführer: Andreas Bramer<br>
                Handelsregister: HRB2806, Amtsgericht Stralsund<br>
                USt-IdNr. i.S.d. § 27a UStG: DE137472214<br>
                <br>
                Telefon: +49 (0)38 231 – 77 23-0<br>
                Telefax: +49 (0)38 231 – 32 61<br>
                <br>
                E-Mail: <a href="mailto:shop@gastrodax.de">shop@gastrodax.de</a><br>
                <br>
                Online-Shop: <a href="https://www.gastrodax.de">https://www.gastrodax.de</a><br>
                Website: <a href="http://www.newgastroline.de">http://www.newgastroline.de</a></small><br>
            </p>
        </th></tr></table></th>
    </tr></tbody></table>
</td></tr></table>
