<!--@subject {{var store.getFrontendName()}}: Benutzerkonto für {{var customer.name}} bestätigen @-->

<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url"}
@-->

<!--@styles
@-->

<raw>{{template config_path="design/email/header"}}</raw>
<raw>{{inlinecss file="email-inline.css"}}</raw>
<container>
    <row>
        <columns small="12">
            <p>Ihre E-Mail-Adresse {{var customer.email}} muss bestätigt werden, bevor Sie sich damit in unserem Shop anmelden können.</p>
            <h1>Hallo {{htmlescape var=$customer.name}},</h1>
            <p class="highlighted-text">
                <strong>E-Mail-Adresse:</strong> {{var customer.email}}<br/>
                Mit folgenden Zugangsdaten können Sie sich anschließend anmelden:<br/>
            </p>
            <p>Um die E-Mail-Adresse zu bestätigen, klicken Sie bitte auf diesen Link (Der Link ist nur einmal gültig):</p>
            <button href="<raw>{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation query_back_url=$back_url}}</raw>">E-Mail-Adresse bestätigen</button>
            <p>Falls der Link nicht funktioniert, kopieren Sie bitte den Link und fügen Sie Ihn direkt in die Adresszeile Ihres Browsers ein.</p>
        </columns>
    </row>
    <raw>{{template config_path="design/email/support"}}</raw>
</container>
<raw>{{template config_path="design/email/footer"}}</raw>