<!--@subject {{var store.getFrontendName()}}: Passwort für {{var customer.name}} zurücksetzen @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->
<!--@styles
@-->
<raw>{{template config_path="design/email/header"}}</raw>
<raw>{{inlinecss file="email-inline.css"}}</raw>
<container>
    <row>
        <columns>
            <h1>Hallo <raw>{{htmlescape var=$customer.name}}</raw>,</h1>
            <p>unser Shop hat eine Anfrage erhalten, dass Ihr Passwort zurückgesetzt werden soll.</p>
            <p>Falls Sie Ihr Passwort ändern möchten, klicken Sie bitte auf den folgenden Link: </p>
            <button class="expand" href="<raw>{{store url=" customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</raw>">Passwort zurücksetzen</button>
            <p>Falls der Link nicht funktioniert, kopieren Sie bitte den Link und fügen Sie Ihn direkt in die
                Adresszeile Ihres Browsers ein.</p>
            <p>Falls Sie Ihr Passwort nicht zurücksetzen möchten, ignorieren Sie bitte diese Nachricht. Ihr Passwort
                wird dann nicht zurückgesetzt. Bei Fragen wenden Sie sich bitte direkt an uns!</p>
        </columns>
    </row>
    <raw>{{template config_path="design/email/support"}}</raw>
</container>
<raw>{{template config_path="design/email/footer"}}</raw>