<!--@subject {{var store.getFrontendName()}}: Administrator-Passwort für {{var user.name}} zurücksetzen@-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"store url=\"adminhtml/index/resetpassword/\" _query_id=$user.id _query_token=$user.rp_token":"Reset Password URL",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->
<!--@styles
@-->
<raw>{{template config_path="design/email/header"}}</raw>
<raw>{{inlinecss file="email-inline.css"}}</raw>
<container>
    <row>
        <columns>
            <h1>Hallo <raw>{{htmlescape var=$user.name}},</h1>
            <p>Sie können Ihr Passwort jederzeit ändern, indem Sie sich im <raw><a href="{{store url="adminhtml/system_account/"}}">AdminPanel</a></raw> anmelden.</p>
            <p>Das Shopsystem hat eine Anfrage erhalten, dass Ihr Administrator-Passwort zurückgesetzt werden soll.</p>
            <p>Falls Sie Ihr Passwort ändern möchten, klicken Sie bitte auf den folgenden Link:</p>
            <button class="expand" href="<raw>{{store url="adminhtml/index/resetpassword/" _query_id=$user.id _query_token=$user.rp_token}}</raw>">Passwort zurücksetzen</button>
            <p>Falls der Link nicht funktioniert, kopieren Sie bitte den Link und fügen Sie Ihn direkt in die Adresszeile Ihres Browsers ein.</p>
            <p>Falls Sie Ihr Passwort nicht zurücksetzen möchten, ignorieren Sie bitte diese Nachricht. Ihr Passwort wird dann nicht zurückgesetzt. Sollten Sie diese Anfrage häufiger unaufgefordert erhalten, ändern Sie bitte sicherheitshalber die URL Ihres AdminPanel.</p>
        </columns>
    </row>
    <raw>{{template config_path="design/email/support"}}</raw>
</container>
<raw>{{template config_path="design/email/footer"}}</raw>